.wws-clearfix { clear: both; }
.wws-shadow {
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.wws-icon  {
  font-family: "wwsFonts" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.wws-icon-close:before { content: '\e800'; } /* '' */
.wws-icon-whatsapp:before { content: '\f232'; } /* '' */

.wws-shortcode-btn {
  padding: 4px 10px;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
}
.wws-shortcode-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
}

.wws-gradient {
  z-index: -1;
  position: fixed;
  width: 500px;
  height: 500px;
  content: "";
  pointer-events: none;
  display: none;
}